* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
body {
  height: 2150px;
  width: 1240px;
  font-size: 40px;
}
header {
  color: white;
  height: 136px;
  width: 1240px;
  font-size: 40px;
  background-color: #f4bc41;
  line-height: 136px;
  position: fixed;
  top: 0;
  z-index: 2;
}
header p {
  margin-left: 550px;
  display: inline-block;
}
header span {
  float: right;
  margin-right: 30px;
}
#Ad {
  margin-top: 136px;
  height: 620px;
  overflow: hidden;
  position: relative;
}
#Ad li {
  float: left;
}
#Ad img {
  height: 620px;
  width: 1240px;
}
#Ad span {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #a4a2a1;
  float: left;
}
#spans {
  position: absolute;
  bottom: 40px;
  left: 580px;
}
#spans span {
  margin-right: 30px;
}
#Notes {
  height: 380px;
  font-size: 40px;
}
#Notes li {
  float: left;
  width: 300px;
  margin-left: 10px;
}
#Notes li img {
  display: block;
  margin: 90px auto 60px;
  height: 100px;
  width: 100px;
}
#Notes li span {
  display: block;
  margin: 0 auto;
  text-align: center;
  line-height: 40px;
}
#content_home {
  background: #ececed;
  overflow: hidden ;
  padding-left: 62px;
}
#content_home .img_Ss {
  float: left;
  margin-right: 30px;
  height: 60px;
  width: 60px;
  margin-top: 60px;
}
.Select {
  color: #a4a4a3;
  line-height: 60px;
  margin-top: 60px;
}
.Peixunf {
  float: left;
  height: 188px;
  width: 550px;
  margin-bottom: 30px;
  margin-right: 20px;
  margin-top: 30px;
  background: white;
  border-radius: 20px;
  position: relative;
}
.Peixunf .p1 {
  margin-top: 40px;
}
.Peixunf p {
  margin-left: 40px;
  line-height: 60px;
  width: 270px;
}
.Peixunf div {
  float: right;
  position: absolute;
  right: 50px;
  top: 20px;
  height: 103px;
  width: 83px;
  border: 3px solid #f2a63d;
  border-radius: 20px;
  padding: 20px 30px;
}
#content_class {
  margin-top: 240px;
}
#content_class li {
  overflow: hidden;
  padding-left: 60px;
  padding-top: 30px;
  padding-right: 60px;
  width: 1000px;
  margin-bottom: 30px;
  background: white;
  height: 290px;
  border-radius: 20px;
}
#content_class li img {
  float: left;
}
#content_class li h4 {
  float: left;
  margin-left: 20px;
  line-height: 60px;
  font-size: 40px;
}
#content_class li p {
  float: right;
}
#content_class li p span {
  color: #aa2a33;
  font-weight: bold;
}
#content_class li hr {
  width: 100%;
  color: #d7d7d7;
  margin-top: 80px;
  border: 3px solid #d7d7d7;
  display: block;
}
#content_class li ul li {
  float: left;
  margin: 0px;
  height: 80px;
  width: 420px;
  padding: 10px;
  overflow: hidden;
}
#content_class li ul li p {
  margin: 0px;
  width: 420px;
}
#content_class li ul li p span {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #e39836;
  float: left;
  margin-right: 100px;
  margin-top: 20px;
}
footer {
  height: 156px;
  width: 1240px;
  background: #282828;
  position: fixed;
  bottom: 0;
}
footer li {
  float: left;
  margin-left: 190px;
  margin-top: 20px;
}
footer img {
  height: 60px;
  width: 60px;
  margin-left: 10px;
}
footer p {
  color: #fdfcfd;
}
#foot_div {
  height: 156px;
}
